body {background-color: slateblue;
font-family: 'Trebuchet MS';
color:white;
text-align: center;
}
img {
    border-radius: 75px;
    height: 300px;
    width: 300px;
}
h2 {
font-size: 18px;
}
a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    color: slateblue;
}

footer {
background-color: white;
color: slateblue;
font-size: 14px;
padding: 10px;
position: fixed;
bottom: 0px;
width: 100%;
}




